doctype html
html(lang="en", style="/*background: rgb(34, 34, 34);*/")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        //- link(rel="stylesheet", href="/static/styles/generator.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js")
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/css/uikit.min.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
        style.
            .hljs {
                background: none !important;
                word-wrap: normal;
                white-space: pre-wrap;
                overflow-wrap: anywhere;
                max-height: 100px;
                overflow-y: scroll;
                padding-right: 13px !important;
            }

            *[opaque-on-hover] {
                opacity: 50%;
                z-index: 500;
            }

            *[opaque-on-hover]:hover {
                opacity: 100%;
            }
    body(style="height: 700px; padding: 10px;")
        div.uk-container.uk-height-1-1
            h2 Price Widget Generator
            div.uk-grid.uk-height-1-1
                div.uk-inline(class="uk-width-1-1@s uk-width-1-2@m uk-first-column uk-margin-bottom")
                    <a id="reset-settings-button" class="uk-position-top-right uk-icon-button uk-margin-small-top uk-margin-small-right uk-box-shadow-small uk-button-danger" uk-icon="icon: trash" opaque-on-hover></a>
                    form#settings-form.uk-form-horizontal.uk-panel-scrollable.uk-resize-vertical.uk-padding-small(style="height: 550px !important;", onSubmit="event.preventDefault()")
                        
                        
                        h3 General"

                        div.uk-margin.uk-animation-shake
                            label.uk-form-label(for="product-url-input") Product URL
                            div.uk-form-controls
                                div.uk-inline
                                    <span class="uk-form-icon" uk-icon="icon: link"></span>
                                    input#product-url-input.uk-input.uk-form-width-large(type="text", name="productUrl" placeholder="https://www.bestbuy.com/site/...")
                        
                        div.uk-margin
                            label.uk-form-label(for="widget-width-input") Widget Width
                            div.uk-form-controls.uk-form-controls-text
                                input#widget-width-input.uk-range(type="range" name="widgetWidth" min="0" max="720" value="384" unit="px")
                        
                        div.uk-margin
                            label.uk-form-label(for="widget-height-input") Widget Height
                            div.uk-form-controls.uk-form-controls-text
                                input#widget-height-input.uk-range(type="range" name="widgetHeight" min="0" max="720" value="128" unit="px")

                        div.uk-margin.uk-animation-shake
                            label.uk-form-label(for="left-icon-url-input") Left Icon Url
                            div.uk-form-controls
                                div.uk-inline
                                    <span class="uk-form-icon" uk-icon="icon: link"></span>
                                    input#left-icon-url-input.uk-input.uk-form-width-large(type="text", name="leftIconUrl", value="https://icon-library.com/images/best-buy-icon/best-buy-icon-20.jpg")

                        <hr class="">

                        h3 Borders

                        //- div.uk-margin
                        //-     span.uk-form-label Enabled
                        //-     div.uk-form-controls.uk-form-controls-text
                        //-         label
                        //-             input#borders-enabled-input.uk-checkbox(type="checkbox", name="bordersEnabled", checked=true)
                        
                        div.uk-margin
                            label.uk-form-label(for="borders-color-input") Color
                            div.uk-form-controls
                                input#borders-color-input.uk-input(type="color", name="bordersColor")

                        div.uk-margin
                            label.uk-form-label(for="borders-thickness-input") Thickness
                            div.uk-form-controls.uk-form-controls-text
                                input#borders-thickness-input.uk-range(type="range" name="bordersThickness" min="0" max="6" value="3" unit="px")

                        div.uk-margin
                            label.uk-form-label(for="outer-border-radius-input") Outer Border Radius
                            div.uk-form-controls.uk-form-controls-text
                                input#outer-border-radius-input.uk-range(type="range" name="outerBorderRadius" min="0" max="100" value="10" unit="px")

                        div.uk-margin
                            label.uk-form-label(for="outer-glow-blur-radius-input") Outer Glow Blur Radius
                            div.uk-form-controls.uk-form-controls-text
                                input#outer-glow-blur-radius-input.uk-range(type="range" name="outerGlowBlurRadius" min="0" max="30" value="10" unit="px")

                        //- div.uk-margin
                        //-     span.uk-form-label Outer Glow Enabled
                        //-     div.uk-form-controls.uk-form-controls-text
                        //-         label
                        //-             input#outer-glow-enabled-input.uk-checkbox(type="checkbox", name="outerGlowEnabled", checked=true)

                        div.uk-margin
                            label.uk-form-label(for="outer-glow-color-input") Outer Glow Color
                            div.uk-form-controls.uk-form-controls-text
                                input#outer-glow-color-input.uk-input(type="color", name="outerGlowColor")
                        
                        <hr class="">

                        h3 Name Section

                        div.uk-margin
                            label.uk-form-label(for="name-background-color-input") Background Color
                            div.uk-form-controls
                                input#name-background-color-input.uk-input(type="color", name="nameBackgroundColor", value="#ffe4c4")
                        
                        div.uk-margin
                            label.uk-form-label(for="name-text-color-input") Text Color
                            div.uk-form-controls
                                input#name-text-color-input.uk-input(type="color", name="nameTextColor")

                        div.uk-margin
                            label.uk-form-label(for="name-text-size-input") Text Size
                            div.uk-form-controls.uk-form-controls-text
                                input#name-text-size-input.uk-range(type="range" name="nameTextSize" min="0" max="2" value="1" step="0.1" unit="x")

                        <hr class="">

                        h3 Price Section

                        div.uk-margin
                            label.uk-form-label(for="price-background-color-left-input") Background Color Left
                            div.uk-form-controls
                                input#price-background-color-left-input.uk-input(type="color", name="priceBackgroundColorLeft", value="#1A436F")
                        
                        div.uk-margin
                            label.uk-form-label(for="price-background-color-right-input") Background Color Right
                            div.uk-form-controls
                                input#price-background-color-right-input.uk-input(type="color", name="priceBackgroundColorRight", value="#ff0000")

                        div.uk-margin
                            label.uk-form-label(for="price-text-color-input") Text Color
                            div.uk-form-controls
                                input#price-text-color-input.uk-input(type="color", name="priceTextColor", value="#FFFFFF")

                        div.uk-margin
                            label.uk-form-label(for="price-text-stroke-color-input") Text Stroke Color
                            div.uk-form-controls
                                input#price-text-stroke-color-input.uk-input(type="color", name="priceTextStrokeColor")

                        div.uk-margin
                            label.uk-form-label(for="price-text-size-input") Text Size
                            div.uk-form-controls.uk-form-controls-text
                                input#price-text-size-input.uk-range(type="range" name="priceTextSize" min="0" max="2" value="1" step="0.1" unit="x")

                        div.uk-margin
                            span.uk-form-label Prefix Enabled
                            div.uk-form-controls.uk-form-controls-text
                                label
                                    input#price-prefix-enabled-input.uk-checkbox(type="checkbox", name="pricePrefixEnabled", checked=true)

                        <hr class="">

                        h3 Buy Section

                        div.uk-margin
                            label.uk-form-label(for="buy-text-input") Text
                            div.uk-form-controls
                                input#buy-text-input.uk-input(type="text", name="buyText", value="Buy Now!")

                        div.uk-margin
                            label.uk-form-label(for="buy-background-color-input") Background Color
                            div.uk-form-controls
                                input#buy-background-color-input.uk-input(type="color", name="buyBackgroundColor", value="#FFFF00")
                        
                        div.uk-margin
                            label.uk-form-label(for="buy-text-color") Text Color
                            div.uk-form-controls
                                input#buy-text-color.uk-input(type="color", name="buyTextColor")

                        div.uk-margin
                            label.uk-form-label(for="buy-text-size-input") Text Size
                            div.uk-form-controls.uk-form-controls-text
                                input#buy-text-size-input.uk-range(type="range", name="buyTextSize" min="0" max="2" value="0.8" step="0.1" unit="x")


                div(class="uk-width-1-1@s uk-width-1-2@m")
                    div(class="uk-card uk-card-default uk-card-body uk-width-1-1")
                        h3 Preview
                        div.uk-container
                            iframe#preview-frame.uk-width-1-1(src="http://localhost:3000/price-widget?productUrl=&bordersColor=%2523000000&bordersThickness=2&outerBorderRadius=10&outerGlowEnabled=on&outerGlowColor=%2523000000&nameBackgroundColor=%2523000000&nameTextColor=%2523000000&nameTextSize=1&priceBackgroundColorLeft=%2523000000&priceBackgroundColorRight=%2523000000&priceTextColor=%2523000000&priceTextStrokeColor=%2523000000&priceTextSize=1&buyBackgroundColor=%2523000000&buyTextColor=%2523000000&buyTextSize=1&buyTextStrokeColor=%2523000000", frameborder="0", style="") 

                        //- form.uk-form-horizontal
                        //-     div.uk-margin
                        //-         label.uk-form-label(for="embed-code-input") Embed Code
                        //-         div.uk-form-controls
                        //-             textarea#embed-code-input.uk-textarea.uk-form-width-large(name="productUrl" rows="10" placeholder="Some text...")

                        h3 Embed Code
                        div.uk-margin
                            pre.uk-width-expand
                                code#code-block.language-html
                                        | &lt;div&gt;
                                        |   &lt;h1 some-prop="hello"&gt;Hello!&lt;/h1&gt;
                                        | &lt;/div&gt;


                        form.uk-form-horizontal
                            div.uk-margin
                                span.uk-form-label Generate on update
                                div.uk-form-controls.uk-form-controls-text
                                    label
                                        input#auto-update-input.uk-checkbox(type="checkbox", name="bordersEnabled", checked=true)

                        div.uk-margin
                            button#generate-button.uk-button.uk-button-primary.uk-button-large.uk-text-nowrap.uk-animation-scale-up(class="uk-width-1-2@s")
                                span(uk-icon="icon: cog")
                                span  Generate!
                            button#copy-button.uk-button.uk-button-secondary.uk-button-large.uk-text-nowrap(class="uk-width-1-2@s")
                                span(uk-icon="icon: copy")
                                span  Copy

        <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit-icons.min.js"></script>
        script(src="/static/js/uk-range-plugin.js") 
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>

        script(src="/static/js/generator.js")