doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style.
            #product-price {
                font-family: #{query.fontFamily || "unset"};
                color: #{query.color || "unset"};
                font-size: #{query.fontSize && query.fontSize + "rem" || "unset"};
            }
    body 
        div#product-price= productPrice